
<!DOCTYPE html>
<html>
<head>

  <title>Affiliate Products</title>
  <link rel="stylesheet" href="/css/style.css"> <!-- Link to your CSS file -->
</head>
<%-include ('header') -%>

<body>
  <h1>Affiliate Products</h1>



<div class="m-3">
      <div class="row">
  <div class="col-4 card">
    <p><%= info.lname %> <%= info.fname %></p>
    <p><%= info.email %></p>
  </div>
<div class="col-7 ms-3">

</div>
</div>

</div>
</body>
</html>
