<%-include ('header') -%>

<h1 style="text-align: center;">LOGIN</h1>

<div class="container">
    <form action="login" method="post" class="registration-form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <div>
            <label for="name">Email</label>
        <input type="text" name="" id="" class="form-control">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="" id="" class=" form-control">
        </div>
        <input type="submit" name="" id="" class="card btn m-2" value="LOGIN">
        
        </form>
        
</div>
<p>If you are new <a href="register" style="font-size: 25px;">Register</a></p>
