<%-include ('header') -%>

<h1 style="text-align: center;">COMPLETE THE TASK</h1>


<div class="container">
    <div class="form-control m-3">
        <h2>TASK 1</h2>
        <p>Description:     Kraven Kravinoff's complex relationship with his ruthless gangs most feared. </p>
        <a href="https://t.me/bpay_coin_bot/bpay_mini_app?startapp=task_45_6294293419">Task One</a>
    </div>
    
    <div class="form-control m-3">
        <h2>TASK 2</h2>
        <p>Description:  Kraven Kravinoff's complex relationship with his ruthless gangs most feared.</p>
    <a href="#">Task Two</a>
    </div>
    
    <div class="form-control m-3">
        <h2>TASK 3</h2>
        <p>Description:  Kraven Kravinoff's complex relationship with his ruthless gangs most feared.        </p>
    <a href="#">Task Three</a>
    </div>
</div>